.container {
    display: inline-grid;
    grid-template-columns: 193px 193px 194px;
    grid-template-rows: 100px 100px 100px;
    border: 10px solid whitesmoke;
    grid-row-gap: 10px;
    justify-content: auto;
    align-content: auto;
}
.red {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #ce1127;
}
.white{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #ffffff;   
}
.blue{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #0d1d8b;
}
.green{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: #3b7827;
}